{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
  <h2 class="menu-section-title">MENU</h2>
{% for food in foods %}
  <div class="menu-item">
           <div class="menu-item-name">
              {{food.name}}
           </div>
           <div class="menu-item-price">
              ₹ {{food.price}}
           </div>
  		 <div class="quantity">
          <a class="btn btn-default" href="{% url 'food_edit' pk=food.pk %}"><span class="glyphicon glyphicon-plus"></span></a>
  		</div>

        </div>
{% endfor %}
 <!--
  {% for food in foods %}
<h3>{{food.name}}</h3>
{{food.price}}
<br>
<a class="btn btn-default" href="{% url 'food_edit' pk=food.pk %}"><span class="glyphicon glyphicon-plus"></span></a>
<hr>
{% endfor %} -->
</body>
</html>
